.blockCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
}

.deleteButton {
  fill: crimson;
}

.deleteButton:hover {
  cursor: pointer;
  opacity: 0.7;
}

.width100 {
  width: 100%;
}

.redButton {
  background-color: #c41e3a;
  color: white;
}
